/* tags */
p{
	font-family: Arial;
	font-size: 15px; }

body{
	font-family: Arial; 
	background-image: url(backg/fundo.png)}

*{
	margin:0;
	padding:0; }

header{
	height: 145px;
	padding:25px;
	padding-top:15px; }

footer{
	clear: both;
	box-shadow: 0px -2px 25px #d5d5d5;
	background-color: #009200;
	height: 75px; 
	padding: 10px 0px 10px 5px;}

li{
	display: inline;}

ul{
	display: inline;
	list-style-type: none;}

/* ids */
#menu{ 
	background-color: #009200;
	box-shadow: 0px 4px 10px #d5d5d5;
	text-align: left;
	height:40px;
	font-family: Century Gothic;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 14px;}

#menu a{
	text-decoration: none;
	color: white;
	padding: 15px; }

#menu a:hover{
	background-color: #147614; }

#perfis{
	margin: 20px;
	height: 190px; 
	padding-top: 20px; }

#legenda{
	margin: 20px;
	height: 20px;
	padding-bottom: 20px;
	color: black;
	text-align: center;
	font-family: Century Gothic;
}

#legenda a{
	text-decoration: none;
	padding: 28px;
	font-size: 22px;
	color: #008080; }

#legenda a:hover{
	color: #20B2AA;
}

.direita {
	float: right;
	margin-right: 20px;}