/* tags */
p{
	padding-top: 2px;
	font-family: Arial;
	font-size: 28px; 
	text-indent: 20pt;}

body{
	font-family: Arial; 
	background-image: url(backg/fundo.png)}

*{
	margin:0;
	padding:0; }

header{
	height: 145px;
	padding:25px;
	padding-top:15px; }

footer{
	clear: both;
	box-shadow: 0px -2px 25px #d5d5d5;
	background-color: #009200;
	height: 75px; 
	padding: 10px 0px 10px 5px;}

center{
	padding: 25px 0px 25px 0px;
}

li{
	display: inline;}

ul{
	display: inline;
	list-style-type: none;}

/* ids */
#menu{ 
	background-color: #009200;
	box-shadow: 0px 4px 10px #d5d5d5;
	text-align: left;
	height:40px;
	font-family: Century Gothic;
	font-size: 20px;
	padding: 14px 0px 0px 25px;
}

#menu a{
	text-decoration: none;
	color: white;
	padding: 15px; }

#menu a:hover{
	background-color: #147614; }

#sobre{
	margin: 20px;
	padding: 10px;
	min-height: 250px;
	width:70%;
	float: left; }

#recado{
	height: 200px;
	margin: 0px 90px 40px 90px;
	padding: 5px 5px 5px 5px;
	font-family: Century Gothic;
	color: #008080;
	font-size: 25px;
}

.direita {
	float: right;
	margin-right: 20px;
}

/* Botão do Dark Mode */


