/* tags */
p{
	padding-top: 2px;
	font-family: Arial;
	font-size: 28px; 
	text-indent: 20pt;}

body{
	font-family: Arial; 
	background-image: url(img/1.png)}

*{
	margin:0;
	padding:0; }

header{
	height: 145px;
	padding:25px;
	padding-top:15px; }

footer{
	clear: both;
	box-shadow: 0px -2px 25px #000000;
	background-color: #4a4a4a;
	height: 75px;
	padding-top: 22px; 
	text-align: center;
}

center{
	padding: 25px 0px 25px 0px;
}

li{
	display: inline;}

ul{
	display: inline;
	list-style-type: none;}
/* ids */

#home{
	margin-bottom: 10px;
}

#menu{ 
	background-color: #4a4a4a;
	box-shadow: 0px 4px 10px #000000;
	text-align: left;
	height:40px;
	font-family: Century Gothic;
	font-size: 20px;
	padding: 14px 0px 0px 25px;
}

#menu a{
	text-decoration: none;
	color: white;
	padding: 15px; }

#menu a:hover{
	background-color: #353635; }

#sobre{
	margin: 20px;
	padding: 10px;
	min-height: 250px;
	width:70%;
	float: left; }

#recado{
	height: 200px;
	margin: 0px 90px 40px 90px;
	padding: 5px 5px 5px 5px;
	font-family: Century Gothic;
	color: #ffffff;
	font-size: 25px;
}
.direita {
	float: right;
	margin-right: 20px;
}