body {
	font-family: Arial; 
	background-image: url(img/1.png) }

*{
	margin:0;
	padding:0; }

header{
	height: 145px;
	padding:25px;
	padding-top:15px; }

footer{
	clear: both;
	box-shadow: 0px -2px 25px #000000;
	background-color: #4a4a4a;
	height: 75px;
	padding-top: 22px; 
	text-align: center;
}

li{
	display: inline;}

ul{
	display: inline;
	list-style-type: none;}

/* ids */
#menu{ 
	background-color: #4a4a4a;
	box-shadow: 0px 4px 10px #000000;
	text-align: left;
	height:40px;
	font-family: Century Gothic;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 14px;}

#menu a{
	text-decoration: none;
	color: white;
	padding: 15px; }

#menu a:hover{
	background-color: #353635; }

/*class */
.direita{
	float: right;
	margin-right: 20px; }